eyeD3==0.9.6
requests
spotipy==2.19.0
yt_dlp==2022.1.21
youtube_search==2.1.0
python-telegram-bot
python-dotenv
validator_collection
py-deezer==1.1.4.post1
pycryptodome==3.12.0
youtube_search==2.1.0
lorem
names

# spotipy
redis>=3.5.3
requests>=2.25.0
six>=1.15.0
urllib3>=1.26.0